/*
Você pode adicionar seu próprio CSS aqui.

Clique no ícone de ajuda acima para saber mais.
*/

@media ( max-width: 520px ) {
	section#hero h2.hero-large-text > img {
		max-width: 75%;
	}
}

.section-portfolio .entry-excerpt {
display: none;
}

.section-portfolio .list-article {
	height: 221px !important;
}

.section-services .service-item {
	display: none;
}

.contact-form input[type=email], .contact-form input[type=text] {
    width: 90% !important;
    max-width: 90%;
}

.contact-form textarea {
    height: 100px;
    width: 90%;
}

.contact-form input[type="submit"] {
	width: 90% !important;
    max-width: 90%;
}

.section-featuredpage:before {
    background-color: rgba(0,0,0,0.1);
    display: block;
}
body.home header:not(.header-fixed ) img {
	opacity:0;
}
.section-portfolio .container {
	width:100% !important;
	max-width:100%;
}
.section-portfolio .container .list-article-thumb {
	margin-right:0;
}
@media screen and ( max-width: 700px ) {
	.section-portfolio .container .list-article-thumb {
		margin-top: 0;
		margin-bottom: 0;
	}
	.section-portfolio .container .list-article-thumb img {
		height: 160px;
	}
}
.section-portfolio .container .list-article-content {
	display:none;
}
#portfolio .section-content {
	overflow: inherit !important;
}
#portfolio .col-sm-12 {
	padding-left: 0 !important;
	padding-right:0 !important;
}

#portfolio {
	padding-bottom: 0;
	overflow: inherit;
}
.header-fixed .coletivo-menu>li>a, body:not( .home ) header .coletivo-menu>li>a{
    color: #188EA0;
}
@media screen and ( max-width: 700px ) {
	#portfolio article.list-article {
		height:160px !important;
	}
}
@media screen and ( min-width: 1360px ) {
	#portfolio article.list-article img,
	#portfolio article.list-article {
		height: 230px !important;
	}
}
@media screen and ( min-width: 1900px ) {
	#portfolio article.list-article img,
	#portfolio article.list-article {
		height: 320px !important;
	}
}
#portfolio article.list-article img {
	transition:300ms ease all;
	opacity: 1 !important;

}
#portfolio article.list-article img:hover {
	transform: scale(1.1060);
	transition:300ms ease all;
	box-shadow: -2px 2px 5px 1px rgba(0,0,0,0.29);
}
/* Source Sans pro */
body #page *:not( i ) {
	font-family: 'Source Sans Pro', sans-serif !important;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
	font-family: 'Source Sans Pro', sans-serif !important;
}
.single-jetpack-portfolio h3, .single-jetpack-portfolio h2{
	text-align:center;
}
.single-jetpack-portfolio .secao-margin{
	max-width:1000px;
	margin:0 auto;
}
.single-jetpack-portfolio #mais {
	text-align:left;
}

.tel {
    padding-right: 0rem;
    padding-left: 0rem;
    font-size: 1.8em;
}

.profile-footer {
    padding-right: 0rem;
    padding-left: 0rem;
    font-size: 1.8em;
}

.profile-header img {
	margin: 0 0 40px;
}
/**
 *
 * Footer com bg de graffiti do site antigo
 *
*/
footer.site-footer .site-info{
	background: url( 'images/bg-rodape.jpg' ) #454545 repeat fixed right center;
	clear: both;
	padding:60px 0;
}

/**
 *
 * Seção Pagina destacada
 *
*/
.section-featuredpage {
	background-attachment: fixed !important;
}
